:root {
    --mainColor: #4B6587;
    --secondColor: #F0E5CF;
    --highlightColor: #F7F6F2;
    --shadowColor: #C8C6C6;

}

.container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.context-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
    background: var(--mainColor);
    width: calc(100% - 30%);
}

.section-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;

}

#tittle {
    color: var(--secondColor);
    font-size: 2rem;
}

.section-button-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%

}

#home-button {
    background: none;
    border: 4px dashed var(--secondColor);
    margin: 1rem;
    width: 5rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondColor);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    word-wrap: break-word;
}

#home-button:hover {
    cursor: pointer;
    background: var(--secondColor);
    border: 4px dotted var(--mainColor);
    color: var(--mainColor);
    border-radius: 0 0 2rem 2rem;
}

@media screen and (max-width: 640px) {
    .section-logo {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #logo {
        width: 4rem;
        height: 4rem;
    }

    #tittle {
        color: var(--secondColor);
        font-size: 1rem;
        margin: unset;
    }

    .navbar-button {
        font-size: 0.8rem;
        width: 4rem;
        height: 3.5rem;
        margin: 0.5rem;
    }

}
