:root {
    --mainColor: #4B6587;
    --secondColor: #F0E5CF;
    --highlightColor: #F7F6F2;
    --shadowColor: #C8C6C6;

}

.container-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}
.header-container{
    max-width: 95%;
    min-width: 50%;
}
.section-body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem;

}

@media (max-width: 820px) {
    .section-body {
        display: flex;
        justify-content: center;
        margin: 0.25rem;

    }

}
