:root {
    --mainColor: #4B6587;
    --secondColor: #F0E5CF;
    --highlightColor: #F7F6F2;
    --shadowColor: #C8C6C6;

}

.container-home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 60%;
    min-width: 50%;
    background: var(--secondColor);
    border: 2px solid var(--mainColor);
    box-shadow: 0 0 15px 5px var(--mainColor);
    margin: 1rem;
    text-align: center;

}

.header-home {
    color: var(--mainColor);
    font-size: 2rem;
    font-weight: bold;
}


.select-multiply {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 10%);
    margin: 1rem;

}


.container-select-multiply {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
    margin: 2rem 1rem 1rem;

}

.multiply {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background: var(--mainColor);
    color: var(--secondColor);
    border: 2px solid var(--secondColor);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    box-shadow: 0 0 15px 5px var(--mainColor);
    word-wrap: break-word;


}

.multiply:hover {
    cursor: pointer;
    background: var(--secondColor);
    border: 4px dotted var(--mainColor);
    color: var(--mainColor);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 0 15px 5px var(--secondColor);

}

.header-multiply {
    font-size: 20px;
    font-weight: bold;
    margin: 0.5rem;
}

#value-multiply {
    font-size: 25px;
    font-weight: bold;
    margin: 1rem;
}


.footer-home {
    margin: 2rem;

}

#home-logo {
    width: 6rem;
    height: 5rem;
}

@media (min-width: 1024px) {

    .container-home {
        max-width: 80%;
        min-width: 70%;

    }

    .container-select-multiply {
        column-gap: 1rem;
        row-gap: 0.5rem;
        margin: 0.5rem 0.5rem 0.5rem;

    }
}

@media (min-width: 768px) {

    .container-home {
        max-width: 100%;
        min-width: 90%;
        margin: 0.25rem;

    }

    .container-select-multiply {
        column-gap: 1rem;
        row-gap: 0.5rem;
        margin: 0.5rem;

    }
}


@media (max-width: 768px) {

    .header-home {
        font-size: 1rem;
    }

    .container-select-multiply {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5rem;
        row-gap: 0.25rem;
        margin: 0.25rem;
    }


}

@media (max-width: 680px) {

    .multiply {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.20rem;
        margin: 0.25rem;

    }


}

@media (min-width: 360px) {

    .container-home {
        max-width: 100%;
        min-width: 90%;
        margin: 0.25rem;

    }

    .select-multiply {
        margin: 0;
    }

    .header-multiply {
        display: flex;
        flex-direction: column;
        padding: 0.25rem;
        margin: 0.2rem;
        font-size: 1rem;
    }

    .footer-home {
        margin: 0.25rem;
    }

    #home-logo {
        width: 4rem;
        height: 4rem;
    }
}

