:root {
    --mainColor: #4B6587;
    --secondColor: #F0E5CF;
    --highlightColor: #F7F6F2;
    --shadowColor: #C8C6C6;
    --shadow: 10px -1px 15px 4px var(--shadowColor);

}

.select-multiply {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 10%);
    margin: 1rem;

}

#header-tittle {
    font-size: 1rem;
    font-weight: bold;
    color: var(--mainColor);
    width: calc(100% - 50%);
    margin: 1rem;
    background: linear-gradient(var(--highlightColor), var(--secondColor));
    box-shadow: var(--shadow);

}

.container-select-multiply {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 1rem;

}


.multiply {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--mainColor);
    color: var(--secondColor);
    border: solid 10px var(--secondColor);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    box-shadow: var(--shadow);

}

.multiply:hover {
    cursor: pointer;
    background: var(--secondColor);
    border: 4px dotted var(--mainColor);
    color: var(--mainColor);
    border-radius: 0 0 2rem 2rem;
}

#header-multiply {
    font-size: 20px;
    font-weight: bold;
    margin: 0.5rem;
}

#value-multiply {
    font-size: 25px;
    font-weight: bold;
    margin: 1rem;
}
