:root {
    --mainColor: #4B6587;
    --secondColor: #F0E5CF;
    --highlightColor: #F7F6F2;
    --shadowColor: #C8C6C6;
    --shadow: 10px -1px 15px 4px var(--shadowColor);

}


.container-signIn {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: calc(80% - 20%);
    margin: 8rem;
    color: var(--mainColor);
    background: var(--secondColor);
    box-shadow: 0 1px 15px 5px var(--mainColor);
}

#header-signIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    width: 50%;
    height: 100%;

}

#title-signIn {
    font-size: 70px;
    font-weight: bold;

}

.body-signIn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    background: var(--highlightColor);
    width: 50%;
    padding: 1rem;
}

.signIn-input {
    background-color: var(--highlightColor);
    font-size: 1rem;
    text-align: center;
    border-radius: 20px;
    border: solid 2px var(--mainColor);

}

.section-signIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    margin: 1rem;
}

#button-signIn {
    background: var(--secondColor);
    color: var(--mainColor);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 20%);
    height: 50%;
    border-radius: 20px;
    border: solid 2px var(--mainColor);
}

#button-signIn:hover {
    cursor: pointer;
    background: var(--mainColor);
    color: var(--secondColor);
    border: solid 2px var(--secondColor);
    box-shadow: 0 1px 15px 5px var(--mainColor);

}
